@model double

@{
    // Helper para redondear al 0.5 más cercano
    var rating = Math.Round(Model * 2, MidpointRounding.AwayFromZero) / 2;
}

<div class="flex items-center text-accent">
    @for (int i = 1; i <= 5; i++)
    {
        @if (i <= rating)
        {
            <!-- Estrella llena -->
            <i class="fas fa-star"></i>
        }
        else if (i - 0.5 == rating)
        {
            <!-- Media estrella -->
            <i class="fas fa-star-half-alt"></i>
        }
        else
        {
            <!-- Estrella vacía -->
            <i class="far fa-star text-gray-500"></i>

            <!-- Hacemos la vacía más tenue -->
        }
    }
</div>